.white{
    background: rgb(255,255,255) !important;
}

input[type=text] {
    border-radius: 10px !important;
    background-color: white !important;
    box-shadow: 20px 12px 13px 0px rgba(0,0,0,0.3) !important;
}