/* Global */
#root {
    width: 100vw;
    height: 100vh;
    padding: 0;
}

#title {
    width: 85%;
    padding: 5px;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#hover-content {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1rem;
    font-weight: 400;
}

/* Timeline container */
.roadmap-container {
    position: absolute;
    top: 0;
    left: 0;

    /* border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem; */
    border-radius: 2rem;

    text-align: left;

    width: 20%;
    height: 50vh;
    padding: 0;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Lesson nodes container within Timeline */
.list-container {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
}

/* List */
#list {
    padding: 0;
}

/* Individual lesson node */
.node-el {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 5px;
}

/* Node-el hover */
.node-el:hover {
    cursor: pointer;
}
/* CSS */
.container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

.roadmap-container {
    padding-top: 10px;
    width: 300px; /* Fixed width for the roadmap */
    overflow-y: auto; /* Enable scrolling if content is long */
    margin-top: 50px;
}

.page-container {
    margin-top: 20px;
    flex-grow: 1; /*Take the remaining space*/
    height: 95%;
    overflow-y: auto; /* Enable scrolling for the page */
}